body{
    background-color: #fffbf7;
    text-align: center;
}
h1{
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pe{
    color: #46484c;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
    padding: 10px 15px;
}
button{
    color:#fff ;
    background-color: #025157;
    padding: 10px 15px;
}
.promocional{
    color: #8b8b8bcc;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}